.card {
    /*width: 18rem;*/
    background: lightblue;
}

/*Needed because long course list is problem*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.offyear {
    visibility: hidden;
}

.onyear {
    visibility: visible;
}


.progress {
    background: black;
}
.progress-bar{
    text-align:left;
}
.coursename {
    font-size: 75%
}

/* Overrides list-group-item from Bootstrap */
/*.list-group-item {
    padding: 1px 1px
    height: 10px;
}*/

.selectText {
    font-weight: bold;
}

#inout {
    font-size: 10px;
    min-width: 100%;
    white-space: pre;
}

.navbar-brand {
    background-image: url('../img/saas.svg');
    background-repeat: no-repeat;
    color: transparent !important;
}

.yearname {
    text-align: center;
    font-weight: bold;
      display: block;

}

#maincontainer {
    min-width: 992px;
}
.reqname:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.reqCourses{
    list-style-type: none;
    font-size: 75%;
}

#studentAlert{
    display: none;
}

#historyAlert{
    display: none;
}

#studentMenu{
    display: none;
}

#adviceAlert{
    display: none;
}